#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.home {
  width: 80vw;
  height: 75vh;
  justify-self: center;

  display: flex;
  flex-direction: row;

  padding: 25px;
  margin: auto;
}

.lists{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  width: 60%;
  height: 90%;
  overflow-y: scroll;
}

.list-card {
  width: 180px;
  height: 250px;

  padding: 10px;
  margin: 10px;

  border: 3px solid #646cff;
  border-radius: 20px;
}

.NearYou {
  width: 80vw;
  height: 75vh;
  justify-self: center;

  display: flex;
  flex-direction: column;

  padding: 25px;
  margin: auto;
}

.Landing {
  width: 80vw;
  height: 75vh;
  justify-self: center;

  display: flex;
  flex-direction: column;

  padding: 25px;
  margin: auto;
}

.SigninForm{
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  margin: 10px;
  padding: 10px;
}

.SigninForm button{
  margin-top: 10px;
}


.LogInForm {
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  margin: 10px;
  padding: 10px;
}

.LogInForm button{
  margin-top: 10px;
}

.list-adder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  margin: 10px;
  padding: 10px;

  align-items: center;
  gap: 1rem;                 /* consistent spacing between children */
  width: 37%;
  height: 100%;
}

.item-adder {
  display: flex;
  flex-direction: column;
  justify-items: center;
  
  margin: 0px;
  padding: 0px;
}

.item-adder button{
  margin-top: 10px;
}

.listItems{
  overflow-y: scroll;
  height: 20%;
  width: 100%;
  padding: 20px;
}

.list-adder button{
  margin-top: 10px;
}